---
layout: page
title: ARCHIVE
description: "归档文章列表"
permalink: /archive/
---

{% assign cutoff = site.archive_cutoff_date | date: '%Y-%m-%d' %}

{% for post in site.posts %}
{% if post.date | date: '%Y-%m-%d' < cutoff %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endif %}
{% endfor %}
