---
layout: page
description: "咸鱼 & 废物 & 失败人士, 喜欢睡觉吃饭玩游戏."
---

{% assign active_posts = site.posts | where_exp: "post", "post.date | date: '%Y-%m-%d' >= site.archive_cutoff_date" %}

{% for post in active_posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}
